#book-container {
    display: flex;
    flex-direction: column;
    align-items: center;

     h3 {
        font-size: 20px;
    }

    width: 200px;
}

#book-cover {
    width: 100%;
    // height: 10rem;
    object-fit: cover;
}

#book-metadata {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    
    p:first-child{
        color: blueviolet;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        margin: auto;
    }

    justify-content: space-between;
}

#book-favorite-icon {
    width: 15px;
    height: 15px;
}